
.content{
  width: 100%;
  height: auto;
  //background-color: aqua;
  //min-width: 660px;

  position: relative;

}

.sidebar{
  width: 100%;
  height: auto;
  position: relative;
  //background-color: antiquewhite;
}
